<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/new">serach from google api</a>
    <%result.forEach(val=>{%>
        <div>
            <img src="<%=val.smallThumbnail%>" alt="">
            <h2>Author:
                <%=val.authors%>
            </h2>
            <h2>Title:
                <%=val.title%>
            </h2>

        </div>
        <a href=""></a>
        <%}) %>

</body>

</html>