<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/result" method="post">
        <input type="text" name="bookname"><br>
        <select name="search" id="">
            <option value="title">title</option>
            <option value="author">author</option>
        </select>
        <!-- <label for="">title 
            <input type="radio" name="searchtype" value="title" id="">
         </label>
        <label for="">author
            <input type="radio" name="searchtype" value="author" id="">
      </label> -->

        <button>Search</button>
    </form>
</body>

</html>